.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#display {
    display: block;
    height: 42px;
    width: 188px;
}

input[type="button"] {
    display: inline;
    margin: 2px;
    width: 42px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
}