.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

fieldset {
    background-color:  rgb(250, 244, 236);
}

#display {
    display: block;
    height: 42px;
    width: 185px;
    margin-bottom: 10px;
    margin-top: 7px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

input[type="button"] {
    display: inline;
    margin: 2px;
    width: 42px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(247, 229, 205);
}